.header{
    background-color:#333333;
}
/* .header > div{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
} */

.headerMenu {
    margin-bottom:10px;
    color:#fafafa;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top:24px;
    padding-bottom:24px;
}

.headerMenu a{
    display:inline-block;
    margin-right: 10px;
    text-decoration:none;
    font-size: 16px;
    letter-spacing:1.2px;
    color:#fafafa;
}

.headerMenu a:hover{
    color: rgb(163, 163, 3);
}

.navbar {
    justify-content: left;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding:0 12px;
}
.social {
    text-align: right;
}